@font-face {
  font-family: 'Lucide-Icons';
  src:
    url('fonts/Lucide-Icons.ttf?egvaa1') format('truetype'),
    url('fonts/Lucide-Icons.woff?egvaa1') format('woff'),
    url('fonts/Lucide-Icons.svg?egvaa1#Lucide-Icons') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

.lucide {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'Lucide-Icons' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.accessibility:before {
  content: "\e900";
}
.activity:before {
  content: "\e901";
}
.airplay:before {
  content: "\e902";
}
.air-vent:before {
  content: "\e903";
}
.alarm-check:before {
  content: "\e904";
}
.alarm-clock:before {
  content: "\e905";
}
.alarm-clock-off:before {
  content: "\e906";
}
.alarm-minus:before {
  content: "\e907";
}
.alarm-plus:before {
  content: "\e908";
}
.album:before {
  content: "\e909";
}
.alert-circle:before {
  content: "\e90a";
}
.alert-octagon:before {
  content: "\e90b";
}
.alert-triangle:before {
  content: "\e90c";
}
.align-center:before {
  content: "\e90d";
}
.align-center-horizontal:before {
  content: "\e90e";
}
.align-center-vertical:before {
  content: "\e90f";
}
.align-end-horizontal:before {
  content: "\e910";
}
.align-end-vertical:before {
  content: "\e911";
}
.align-horizontal-distribute-center:before {
  content: "\e912";
}
.align-horizontal-distribute-end:before {
  content: "\e913";
}
.align-horizontal-distribute-start:before {
  content: "\e914";
}
.align-horizontal-justify-center:before {
  content: "\e915";
}
.align-horizontal-justify-end:before {
  content: "\e916";
}
.align-horizontal-justify-start:before {
  content: "\e917";
}
.align-horizontal-space-around:before {
  content: "\e918";
}
.align-horizontal-space-between:before {
  content: "\e919";
}
.align-justify:before {
  content: "\e91a";
}
.align-left:before {
  content: "\e91b";
}
.align-right:before {
  content: "\e91c";
}
.align-start-horizontal:before {
  content: "\e91d";
}
.align-start-vertical:before {
  content: "\e91e";
}
.align-vertical-distribute-center:before {
  content: "\e91f";
}
.align-vertical-distribute-end:before {
  content: "\e920";
}
.align-vertical-distribute-start:before {
  content: "\e921";
}
.align-vertical-justify-center:before {
  content: "\e922";
}
.align-vertical-justify-end:before {
  content: "\e923";
}
.align-vertical-justify-start:before {
  content: "\e924";
}
.align-vertical-space-around:before {
  content: "\e925";
}
.align-vertical-space-between:before {
  content: "\e926";
}
.anchor:before {
  content: "\e927";
}
.angry:before {
  content: "\e928";
}
.annoyed:before {
  content: "\e929";
}
.aperture:before {
  content: "\e92a";
}
.apple:before {
  content: "\e92b";
}
.app-window:before {
  content: "\e92c";
}
.archive:before {
  content: "\e92d";
}
.archive-restore:before {
  content: "\e92e";
}
.armchair:before {
  content: "\e92f";
}
.arrow-big-down:before {
  content: "\e930";
}
.arrow-big-down-dash:before {
  content: "\e931";
}
.arrow-big-left:before {
  content: "\e932";
}
.arrow-big-left-dash:before {
  content: "\e933";
}
.arrow-big-right:before {
  content: "\e934";
}
.arrow-big-right-dash:before {
  content: "\e935";
}
.arrow-big-up:before {
  content: "\e936";
}
.arrow-big-up-dash:before {
  content: "\e937";
}
.arrow-down:before {
  content: "\e938";
}
.arrow-down-0-1:before {
  content: "\e939";
}
.arrow-down-1-0:before {
  content: "\e93a";
}
.arrow-down-a-z:before {
  content: "\e93b";
}
.arrow-down-circle:before {
  content: "\e93c";
}
.arrow-down-from-line:before {
  content: "\e93d";
}
.arrow-down-left:before {
  content: "\e93e";
}
.arrow-down-left-from-circle:before {
  content: "\e93f";
}
.arrow-down-narrow-wide:before {
  content: "\e940";
}
.arrow-down-right:before {
  content: "\e941";
}
.arrow-down-right-from-circle:before {
  content: "\e942";
}
.arrow-down-square:before {
  content: "\e943";
}
.arrow-down-to-dot:before {
  content: "\e944";
}
.arrow-down-to-line:before {
  content: "\e945";
}
.arrow-down-up:before {
  content: "\e946";
}
.arrow-down-wide-narrow:before {
  content: "\e947";
}
.arrow-down-z-a:before {
  content: "\e948";
}
.arrow-left:before {
  content: "\e949";
}
.arrow-left-circle:before {
  content: "\e94a";
}
.arrow-left-from-line:before {
  content: "\e94b";
}
.arrow-left-right:before {
  content: "\e94c";
}
.arrow-left-square:before {
  content: "\e94d";
}
.arrow-left-to-line:before {
  content: "\e94e";
}
.arrow-right:before {
  content: "\e94f";
}
.arrow-right-circle:before {
  content: "\e950";
}
.arrow-right-from-line:before {
  content: "\e951";
}
.arrow-right-left:before {
  content: "\e952";
}
.arrow-right-square:before {
  content: "\e953";
}
.arrow-right-to-line:before {
  content: "\e954";
}
.arrow-up:before {
  content: "\e955";
}
.arrow-up-0-1:before {
  content: "\e956";
}
.arrow-up-1-0:before {
  content: "\e957";
}
.arrow-up-a-z:before {
  content: "\e958";
}
.arrow-up-circle:before {
  content: "\e959";
}
.arrow-up-down:before {
  content: "\e95a";
}
.arrow-up-from-dot:before {
  content: "\e95b";
}
.arrow-up-from-line:before {
  content: "\e95c";
}
.arrow-up-left:before {
  content: "\e95d";
}
.arrow-up-left-from-circle:before {
  content: "\e95e";
}
.arrow-up-narrow-wide:before {
  content: "\e95f";
}
.arrow-up-right:before {
  content: "\e960";
}
.arrow-up-right-from-circle:before {
  content: "\e961";
}
.arrow-up-square:before {
  content: "\e962";
}
.arrow-up-to-line:before {
  content: "\e963";
}
.arrow-up-wide-narrow:before {
  content: "\e964";
}
.arrow-up-z-a:before {
  content: "\e965";
}
.asterisk:before {
  content: "\e966";
}
.atom:before {
  content: "\e967";
}
.at-sign:before {
  content: "\e968";
}
.award:before {
  content: "\e969";
}
.axe:before {
  content: "\e96a";
}
.axis-3d:before {
  content: "\e96b";
}
.baby:before {
  content: "\e96c";
}
.backpack:before {
  content: "\e96d";
}
.badge:before {
  content: "\e96e";
}
.badge-alert:before {
  content: "\e96f";
}
.badge-check:before {
  content: "\e970";
}
.badge-dollar-sign:before {
  content: "\e971";
}
.badge-help:before {
  content: "\e972";
}
.badge-info:before {
  content: "\e973";
}
.badge-minus:before {
  content: "\e974";
}
.badge-percent:before {
  content: "\e975";
}
.badge-plus:before {
  content: "\e976";
}
.badge-x:before {
  content: "\e977";
}
.baggage-claim:before {
  content: "\e978";
}
.ban:before {
  content: "\e979";
}
.banana:before {
  content: "\e97a";
}
.banknote:before {
  content: "\e97b";
}
.bar-chart:before {
  content: "\e97c";
}
.bar-chart-2:before {
  content: "\e97d";
}
.bar-chart-3:before {
  content: "\e97e";
}
.bar-chart-4:before {
  content: "\e97f";
}
.bar-chart-horizontal:before {
  content: "\e980";
}
.baseline:before {
  content: "\e981";
}
.bath:before {
  content: "\e982";
}
.battery:before {
  content: "\e983";
}
.battery-charging:before {
  content: "\e984";
}
.battery-full:before {
  content: "\e985";
}
.battery-low:before {
  content: "\e986";
}
.battery-medium:before {
  content: "\e987";
}
.battery-warning:before {
  content: "\e988";
}
.beaker:before {
  content: "\e989";
}
.bean:before {
  content: "\e98a";
}
.bean-off:before {
  content: "\e98b";
}
.bed:before {
  content: "\e98c";
}
.bed-double:before {
  content: "\e98d";
}
.bed-single:before {
  content: "\e98e";
}
.beef:before {
  content: "\e98f";
}
.beer:before {
  content: "\e990";
}
.bell:before {
  content: "\e991";
}
.bell-dot:before {
  content: "\e992";
}
.bell-minus:before {
  content: "\e993";
}
.bell-off:before {
  content: "\e994";
}
.bell-plus:before {
  content: "\e995";
}
.bell-ring:before {
  content: "\e996";
}
.bike:before {
  content: "\e997";
}
.binary:before {
  content: "\e998";
}
.biohazard:before {
  content: "\e999";
}
.bird:before {
  content: "\e99a";
}
.bitcoin:before {
  content: "\e99b";
}
.blinds:before {
  content: "\e99c";
}
.bluetooth:before {
  content: "\e99d";
}
.bluetooth-connected:before {
  content: "\e99e";
}
.bluetooth-off:before {
  content: "\e99f";
}
.bluetooth-searching:before {
  content: "\e9a0";
}
.bold:before {
  content: "\e9a1";
}
.bomb:before {
  content: "\e9a2";
}
.bone:before {
  content: "\e9a3";
}
.book:before {
  content: "\e9a4";
}
.book-copy:before {
  content: "\e9a5";
}
.book-down:before {
  content: "\e9a6";
}
.book-key:before {
  content: "\e9a7";
}
.book-lock:before {
  content: "\e9a8";
}
.bookmark:before {
  content: "\e9a9";
}
.book-marked:before {
  content: "\e9aa";
}
.bookmark-minus:before {
  content: "\e9ab";
}
.bookmark-plus:before {
  content: "\e9ac";
}
.book-minus:before {
  content: "\e9ad";
}
.book-open:before {
  content: "\e9ae";
}
.book-open-check:before {
  content: "\e9af";
}
.book-plus:before {
  content: "\e9b0";
}
.book-template:before {
  content: "\e9b1";
}
.book-up:before {
  content: "\e9b2";
}
.book-x:before {
  content: "\e9b3";
}
.bot:before {
  content: "\e9b4";
}
.box:before {
  content: "\e9b5";
}
.boxes:before {
  content: "\e9b6";
}
.box-select:before {
  content: "\e9b7";
}
.braces:before {
  content: "\e9b8";
}
.brackets:before {
  content: "\e9b9";
}
.brain:before {
  content: "\e9ba";
}
.brain-circuit:before {
  content: "\e9bb";
}
.brain-cog:before {
  content: "\e9bc";
}
.briefcase:before {
  content: "\e9bd";
}
.brush:before {
  content: "\e9be";
}
.bug:before {
  content: "\e9bf";
}
.building:before {
  content: "\e9c0";
}
.building-2:before {
  content: "\e9c1";
}
.bus:before {
  content: "\e9c2";
}
.cake:before {
  content: "\e9c3";
}
.calculator:before {
  content: "\e9c4";
}
.calendar:before {
  content: "\e9c5";
}
.calendar-check:before {
  content: "\e9c6";
}
.calendar-check-2:before {
  content: "\e9c7";
}
.calendar-clock:before {
  content: "\e9c8";
}
.calendar-days:before {
  content: "\e9c9";
}
.calendar-heart:before {
  content: "\e9ca";
}
.calendar-minus:before {
  content: "\e9cb";
}
.calendar-off:before {
  content: "\e9cc";
}
.calendar-plus:before {
  content: "\e9cd";
}
.calendar-range:before {
  content: "\e9ce";
}
.calendar-search:before {
  content: "\e9cf";
}
.calendar-x:before {
  content: "\e9d0";
}
.calendar-x-2:before {
  content: "\e9d1";
}
.camera:before {
  content: "\e9d2";
}
.camera-off:before {
  content: "\e9d3";
}
.candy:before {
  content: "\e9d4";
}
.candy-off:before {
  content: "\e9d5";
}
.car:before {
  content: "\e9d6";
}
.carrot:before {
  content: "\e9d7";
}
.case-lower:before {
  content: "\e9d8";
}
.case-sensitive:before {
  content: "\e9d9";
}
.case-upper:before {
  content: "\e9da";
}
.cast:before {
  content: "\e9db";
}
.castle:before {
  content: "\e9dc";
}
.cat:before {
  content: "\e9dd";
}
.check:before {
  content: "\e9de";
}
.check-check:before {
  content: "\e9df";
}
.check-circle:before {
  content: "\e9e0";
}
.check-circle-2:before {
  content: "\e9e1";
}
.check-square:before {
  content: "\e9e2";
}
.chef-hat:before {
  content: "\e9e3";
}
.cherry:before {
  content: "\e9e4";
}
.chevron-down:before {
  content: "\e9e5";
}
.chevron-down-square:before {
  content: "\e9e6";
}
.chevron-first:before {
  content: "\e9e7";
}
.chevron-last:before {
  content: "\e9e8";
}
.chevron-left:before {
  content: "\e9e9";
}
.chevron-left-square:before {
  content: "\e9ea";
}
.chevron-right:before {
  content: "\e9eb";
}
.chevron-right-square:before {
  content: "\e9ec";
}
.chevrons-down:before {
  content: "\e9ed";
}
.chevrons-down-up:before {
  content: "\e9ee";
}
.chevrons-left:before {
  content: "\e9ef";
}
.chevrons-left-right:before {
  content: "\e9f0";
}
.chevrons-right:before {
  content: "\e9f1";
}
.chevrons-right-left:before {
  content: "\e9f2";
}
.chevrons-up:before {
  content: "\e9f3";
}
.chevrons-up-down:before {
  content: "\e9f4";
}
.chevron-up:before {
  content: "\e9f5";
}
.chevron-up-square:before {
  content: "\e9f6";
}
.chrome:before {
  content: "\e9f7";
}
.church:before {
  content: "\e9f8";
}
.cigarette:before {
  content: "\e9f9";
}
.cigarette-off:before {
  content: "\e9fa";
}
.circle:before {
  content: "\e9fb";
}
.circle-dollar-sign:before {
  content: "\e9fc";
}
.circle-dot:before {
  content: "\e9fd";
}
.circle-ellipsis:before {
  content: "\e9fe";
}
.circle-equal:before {
  content: "\e9ff";
}
.circle-off:before {
  content: "\ea00";
}
.circle-slash:before {
  content: "\ea01";
}
.circle-slash-2:before {
  content: "\ea02";
}
.circle-slashed:before {
  content: "\ea03";
}
.circuit-board:before {
  content: "\ea04";
}
.citrus:before {
  content: "\ea05";
}
.clapperboard:before {
  content: "\ea06";
}
.clipboard:before {
  content: "\ea07";
}
.clipboard-check:before {
  content: "\ea08";
}
.clipboard-copy:before {
  content: "\ea09";
}
.clipboard-edit:before {
  content: "\ea0a";
}
.clipboard-list:before {
  content: "\ea0b";
}
.clipboard-paste:before {
  content: "\ea0c";
}
.clipboard-signature:before {
  content: "\ea0d";
}
.clipboard-type:before {
  content: "\ea0e";
}
.clipboard-x:before {
  content: "\ea0f";
}
.clock:before {
  content: "\ea10";
}
.clock-1:before {
  content: "\ea11";
}
.clock-2:before {
  content: "\ea12";
}
.clock-3:before {
  content: "\ea13";
}
.clock-4:before {
  content: "\ea14";
}
.clock-5:before {
  content: "\ea15";
}
.clock-6:before {
  content: "\ea16";
}
.clock-7:before {
  content: "\ea17";
}
.clock-8:before {
  content: "\ea18";
}
.clock-9:before {
  content: "\ea19";
}
.clock-10:before {
  content: "\ea1a";
}
.clock-11:before {
  content: "\ea1b";
}
.clock-12:before {
  content: "\ea1c";
}
.cloud:before {
  content: "\ea1d";
}
.cloud-cog:before {
  content: "\ea1e";
}
.cloud-drizzle:before {
  content: "\ea1f";
}
.cloud-fog:before {
  content: "\ea20";
}
.cloud-hail:before {
  content: "\ea21";
}
.cloud-lightning:before {
  content: "\ea22";
}
.cloud-moon:before {
  content: "\ea23";
}
.cloud-moon-rain:before {
  content: "\ea24";
}
.cloud-off:before {
  content: "\ea25";
}
.cloud-rain:before {
  content: "\ea26";
}
.cloud-rain-wind:before {
  content: "\ea27";
}
.cloud-snow:before {
  content: "\ea28";
}
.cloud-sun:before {
  content: "\ea29";
}
.cloud-sun-rain:before {
  content: "\ea2a";
}
.cloudy:before {
  content: "\ea2b";
}
.clover:before {
  content: "\ea2c";
}
.code:before {
  content: "\ea2d";
}
.code-2:before {
  content: "\ea2e";
}
.codepen:before {
  content: "\ea2f";
}
.codesandbox:before {
  content: "\ea30";
}
.coffee:before {
  content: "\ea31";
}
.cog:before {
  content: "\ea32";
}
.coins:before {
  content: "\ea33";
}
.columns:before {
  content: "\ea34";
}
.combine:before {
  content: "\ea35";
}
.command:before {
  content: "\ea36";
}
.compass:before {
  content: "\ea37";
}
.component:before {
  content: "\ea38";
}
.concierge-bell:before {
  content: "\ea39";
}
.construction:before {
  content: "\ea3a";
}
.contact:before {
  content: "\ea3b";
}
.contact-2:before {
  content: "\ea3c";
}
.contrast:before {
  content: "\ea3d";
}
.cookie:before {
  content: "\ea3e";
}
.copy:before {
  content: "\ea3f";
}
.copy-check:before {
  content: "\ea40";
}
.copyleft:before {
  content: "\ea41";
}
.copy-minus:before {
  content: "\ea42";
}
.copy-plus:before {
  content: "\ea43";
}
.copyright:before {
  content: "\ea44";
}
.copy-slash:before {
  content: "\ea45";
}
.copy-x:before {
  content: "\ea46";
}
.corner-down-left:before {
  content: "\ea47";
}
.corner-down-right:before {
  content: "\ea48";
}
.corner-left-down:before {
  content: "\ea49";
}
.corner-left-up:before {
  content: "\ea4a";
}
.corner-right-down:before {
  content: "\ea4b";
}
.corner-right-up:before {
  content: "\ea4c";
}
.corner-up-left:before {
  content: "\ea4d";
}
.corner-up-right:before {
  content: "\ea4e";
}
.cpu:before {
  content: "\ea4f";
}
.creative-commons:before {
  content: "\ea50";
}
.credit-card:before {
  content: "\ea51";
}
.croissant:before {
  content: "\ea52";
}
.crop:before {
  content: "\ea53";
}
.cross:before {
  content: "\ea54";
}
.crosshair:before {
  content: "\ea55";
}
.crown:before {
  content: "\ea56";
}
.cup-soda:before {
  content: "\ea57";
}
.curly-braces:before {
  content: "\ea58";
}
.currency:before {
  content: "\ea59";
}
.database:before {
  content: "\ea5a";
}
.database-backup:before {
  content: "\ea5b";
}
.delete:before {
  content: "\ea5c";
}
.diamond:before {
  content: "\ea5d";
}
.dice-1:before {
  content: "\ea5e";
}
.dice-2:before {
  content: "\ea5f";
}
.dice-3:before {
  content: "\ea60";
}
.dice-4:before {
  content: "\ea61";
}
.dice-5:before {
  content: "\ea62";
}
.dice-6:before {
  content: "\ea63";
}
.dices:before {
  content: "\ea64";
}
.diff:before {
  content: "\ea65";
}
.disc:before {
  content: "\ea66";
}
.disc-2:before {
  content: "\ea67";
}
.divide:before {
  content: "\ea68";
}
.divide-circle:before {
  content: "\ea69";
}
.divide-square:before {
  content: "\ea6a";
}
.dna:before {
  content: "\ea6b";
}
.dna-off:before {
  content: "\ea6c";
}
.dog:before {
  content: "\ea6d";
}
.dollar-sign:before {
  content: "\ea6e";
}
.door-closed:before {
  content: "\ea6f";
}
.door-open:before {
  content: "\ea70";
}
.dot:before {
  content: "\ea71";
}
.download:before {
  content: "\ea72";
}
.download-cloud:before {
  content: "\ea73";
}
.dribbble:before {
  content: "\ea74";
}
.droplet:before {
  content: "\ea75";
}
.droplets:before {
  content: "\ea76";
}
.drumstick:before {
  content: "\ea77";
}
.dumbbell:before {
  content: "\ea78";
}
.ear:before {
  content: "\ea79";
}
.ear-off:before {
  content: "\ea7a";
}
.edit:before {
  content: "\ea7b";
}
.edit-2:before {
  content: "\ea7c";
}
.edit-3:before {
  content: "\ea7d";
}
.egg:before {
  content: "\ea7e";
}
.egg-fried:before {
  content: "\ea7f";
}
.egg-off:before {
  content: "\ea80";
}
.equal:before {
  content: "\ea81";
}
.equal-not:before {
  content: "\ea82";
}
.eraser:before {
  content: "\ea83";
}
.euro:before {
  content: "\ea84";
}
.expand:before {
  content: "\ea85";
}
.external-link:before {
  content: "\ea86";
}
.eye:before {
  content: "\ea87";
}
.eye-off:before {
  content: "\ea88";
}
.facebook:before {
  content: "\ea89";
}
.factory:before {
  content: "\ea8a";
}
.fan:before {
  content: "\ea8b";
}
.fast-forward:before {
  content: "\ea8c";
}
.feather:before {
  content: "\ea8d";
}
.figma:before {
  content: "\ea8e";
}
.file:before {
  content: "\ea8f";
}
.file-archive:before {
  content: "\ea90";
}
.file-audio:before {
  content: "\ea91";
}
.file-audio-2:before {
  content: "\ea92";
}
.file-axis-3d:before {
  content: "\ea93";
}
.file-badge:before {
  content: "\ea94";
}
.file-badge-2:before {
  content: "\ea95";
}
.file-bar-chart:before {
  content: "\ea96";
}
.file-bar-chart-2:before {
  content: "\ea97";
}
.file-box:before {
  content: "\ea98";
}
.file-check:before {
  content: "\ea99";
}
.file-check-2:before {
  content: "\ea9a";
}
.file-clock:before {
  content: "\ea9b";
}
.file-code:before {
  content: "\ea9c";
}
.file-code-2:before {
  content: "\ea9d";
}
.file-cog:before {
  content: "\ea9e";
}
.file-cog-2:before {
  content: "\ea9f";
}
.file-diff:before {
  content: "\eaa0";
}
.file-digit:before {
  content: "\eaa1";
}
.file-down:before {
  content: "\eaa2";
}
.file-edit:before {
  content: "\eaa3";
}
.file-heart:before {
  content: "\eaa4";
}
.file-image:before {
  content: "\eaa5";
}
.file-input:before {
  content: "\eaa6";
}
.file-json:before {
  content: "\eaa7";
}
.file-json-2:before {
  content: "\eaa8";
}
.file-key:before {
  content: "\eaa9";
}
.file-key-2:before {
  content: "\eaaa";
}
.file-line-chart:before {
  content: "\eaab";
}
.file-lock:before {
  content: "\eaac";
}
.file-lock-2:before {
  content: "\eaad";
}
.file-minus:before {
  content: "\eaae";
}
.file-minus-2:before {
  content: "\eaaf";
}
.file-output:before {
  content: "\eab0";
}
.file-pie-chart:before {
  content: "\eab1";
}
.file-plus:before {
  content: "\eab2";
}
.file-plus-2:before {
  content: "\eab3";
}
.file-question:before {
  content: "\eab4";
}
.files:before {
  content: "\eab5";
}
.file-scan:before {
  content: "\eab6";
}
.file-search:before {
  content: "\eab7";
}
.file-search-2:before {
  content: "\eab8";
}
.file-signature:before {
  content: "\eab9";
}
.file-spreadsheet:before {
  content: "\eaba";
}
.file-symlink:before {
  content: "\eabb";
}
.file-terminal:before {
  content: "\eabc";
}
.file-text:before {
  content: "\eabd";
}
.file-type:before {
  content: "\eabe";
}
.file-type-2:before {
  content: "\eabf";
}
.file-up:before {
  content: "\eac0";
}
.file-video:before {
  content: "\eac1";
}
.file-video-2:before {
  content: "\eac2";
}
.file-volume:before {
  content: "\eac3";
}
.file-volume-2:before {
  content: "\eac4";
}
.file-warning:before {
  content: "\eac5";
}
.file-x:before {
  content: "\eac6";
}
.file-x-2:before {
  content: "\eac7";
}
.film:before {
  content: "\eac8";
}
.filter:before {
  content: "\eac9";
}
.filter-x:before {
  content: "\eaca";
}
.fingerprint:before {
  content: "\eacb";
}
.fish:before {
  content: "\eacc";
}
.fish-off:before {
  content: "\eacd";
}
.flag:before {
  content: "\eace";
}
.flag-off:before {
  content: "\eacf";
}
.flag-triangle-left:before {
  content: "\ead0";
}
.flag-triangle-right:before {
  content: "\ead1";
}
.flame:before {
  content: "\ead2";
}
.flashlight:before {
  content: "\ead3";
}
.flashlight-off:before {
  content: "\ead4";
}
.flask-conical:before {
  content: "\ead5";
}
.flask-conical-off:before {
  content: "\ead6";
}
.flask-round:before {
  content: "\ead7";
}
.flip-horizontal:before {
  content: "\ead8";
}
.flip-horizontal-2:before {
  content: "\ead9";
}
.flip-vertical:before {
  content: "\eada";
}
.flip-vertical-2:before {
  content: "\eadb";
}
.flower:before {
  content: "\eadc";
}
.flower-2:before {
  content: "\eadd";
}
.focus:before {
  content: "\eade";
}
.folder:before {
  content: "\eadf";
}
.folder-archive:before {
  content: "\eae0";
}
.folder-check:before {
  content: "\eae1";
}
.folder-clock:before {
  content: "\eae2";
}
.folder-closed:before {
  content: "\eae3";
}
.folder-cog:before {
  content: "\eae4";
}
.folder-cog-2:before {
  content: "\eae5";
}
.folder-down:before {
  content: "\eae6";
}
.folder-edit:before {
  content: "\eae7";
}
.folder-git:before {
  content: "\eae8";
}
.folder-git-2:before {
  content: "\eae9";
}
.folder-heart:before {
  content: "\eaea";
}
.folder-input:before {
  content: "\eaeb";
}
.folder-key:before {
  content: "\eaec";
}
.folder-lock:before {
  content: "\eaed";
}
.folder-minus:before {
  content: "\eaee";
}
.folder-open:before {
  content: "\eaef";
}
.folder-output:before {
  content: "\eaf0";
}
.folder-plus:before {
  content: "\eaf1";
}
.folders:before {
  content: "\eaf2";
}
.folder-search:before {
  content: "\eaf3";
}
.folder-search-2:before {
  content: "\eaf4";
}
.folder-symlink:before {
  content: "\eaf5";
}
.folder-tree:before {
  content: "\eaf6";
}
.folder-up:before {
  content: "\eaf7";
}
.folder-x:before {
  content: "\eaf8";
}
.fold-horizontal:before {
  content: "\eaf9";
}
.fold-vertical:before {
  content: "\eafa";
}
.footprints:before {
  content: "\eafb";
}
.forklift:before {
  content: "\eafc";
}
.form-input:before {
  content: "\eafd";
}
.forward:before {
  content: "\eafe";
}
.frame:before {
  content: "\eaff";
}
.framer:before {
  content: "\eb00";
}
.frown:before {
  content: "\eb01";
}
.fuel:before {
  content: "\eb02";
}
.function-square:before {
  content: "\eb03";
}
.gamepad:before {
  content: "\eb04";
}
.gamepad-2:before {
  content: "\eb05";
}
.gauge:before {
  content: "\eb06";
}
.gavel:before {
  content: "\eb07";
}
.gem:before {
  content: "\eb08";
}
.ghost:before {
  content: "\eb09";
}
.gift:before {
  content: "\eb0a";
}
.git-branch:before {
  content: "\eb0b";
}
.git-branch-plus:before {
  content: "\eb0c";
}
.git-commit:before {
  content: "\eb0d";
}
.git-compare:before {
  content: "\eb0e";
}
.git-fork:before {
  content: "\eb0f";
}
.github:before {
  content: "\eb10";
}
.gitlab:before {
  content: "\eb11";
}
.git-merge:before {
  content: "\eb12";
}
.git-pull-request:before {
  content: "\eb13";
}
.git-pull-request-closed:before {
  content: "\eb14";
}
.git-pull-request-draft:before {
  content: "\eb15";
}
.glasses:before {
  content: "\eb16";
}
.glass-water:before {
  content: "\eb17";
}
.globe:before {
  content: "\eb18";
}
.globe-2:before {
  content: "\eb19";
}
.grab:before {
  content: "\eb1a";
}
.graduation-cap:before {
  content: "\eb1b";
}
.grape:before {
  content: "\eb1c";
}
.grid:before {
  content: "\eb1d";
}
.grip:before {
  content: "\eb1e";
}
.grip-horizontal:before {
  content: "\eb1f";
}
.grip-vertical:before {
  content: "\eb20";
}
.group:before {
  content: "\eb21";
}
.hammer:before {
  content: "\eb22";
}
.hand:before {
  content: "\eb23";
}
.hand-metal:before {
  content: "\eb24";
}
.hard-drive:before {
  content: "\eb25";
}
.hard-hat:before {
  content: "\eb26";
}
.hash:before {
  content: "\eb27";
}
.haze:before {
  content: "\eb28";
}
.heading:before {
  content: "\eb29";
}
.heading-1:before {
  content: "\eb2a";
}
.heading-2:before {
  content: "\eb2b";
}
.heading-3:before {
  content: "\eb2c";
}
.heading-4:before {
  content: "\eb2d";
}
.heading-5:before {
  content: "\eb2e";
}
.heading-6:before {
  content: "\eb2f";
}
.headphones:before {
  content: "\eb30";
}
.heart:before {
  content: "\eb31";
}
.heart-crack:before {
  content: "\eb32";
}
.heart-handshake:before {
  content: "\eb33";
}
.heart-off:before {
  content: "\eb34";
}
.heart-pulse:before {
  content: "\eb35";
}
.help-circle:before {
  content: "\eb36";
}
.helping-hand:before {
  content: "\eb37";
}
.hexagon:before {
  content: "\eb38";
}
.highlighter:before {
  content: "\eb39";
}
.history:before {
  content: "\eb3a";
}
.home:before {
  content: "\eb3b";
}
.hop:before {
  content: "\eb3c";
}
.hop-off:before {
  content: "\eb3d";
}
.hotel:before {
  content: "\eb3e";
}
.hourglass:before {
  content: "\eb3f";
}
.ice-cream:before {
  content: "\eb40";
}
.ice-cream-2:before {
  content: "\eb41";
}
.image:before {
  content: "\eb42";
}
.image-minus:before {
  content: "\eb43";
}
.image-off:before {
  content: "\eb44";
}
.image-plus:before {
  content: "\eb45";
}
.import:before {
  content: "\eb46";
}
.inbox:before {
  content: "\eb47";
}
.indent:before {
  content: "\eb48";
}
.indian-rupee:before {
  content: "\eb49";
}
.infinity:before {
  content: "\eb4a";
}
.info:before {
  content: "\eb4b";
}
.inspect:before {
  content: "\eb4c";
}
.instagram:before {
  content: "\eb4d";
}
.italic:before {
  content: "\eb4e";
}
.iteration-ccw:before {
  content: "\eb4f";
}
.iteration-cw:before {
  content: "\eb50";
}
.japanese-yen:before {
  content: "\eb51";
}
.joystick:before {
  content: "\eb52";
}
.key:before {
  content: "\eb53";
}
.keyboard:before {
  content: "\eb54";
}
.lamp:before {
  content: "\eb55";
}
.lamp-ceiling:before {
  content: "\eb56";
}
.lamp-desk:before {
  content: "\eb57";
}
.lamp-floor:before {
  content: "\eb58";
}
.lamp-wall-down:before {
  content: "\eb59";
}
.lamp-wall-up:before {
  content: "\eb5a";
}
.landmark:before {
  content: "\eb5b";
}
.languages:before {
  content: "\eb5c";
}
.laptop:before {
  content: "\eb5d";
}
.laptop-2:before {
  content: "\eb5e";
}
.lasso:before {
  content: "\eb5f";
}
.lasso-select:before {
  content: "\eb60";
}
.laugh:before {
  content: "\eb61";
}
.layers:before {
  content: "\eb62";
}
.layout:before {
  content: "\eb63";
}
.layout-dashboard:before {
  content: "\eb64";
}
.layout-grid:before {
  content: "\eb65";
}
.layout-list:before {
  content: "\eb66";
}
.layout-panel-left:before {
  content: "\eb67";
}
.layout-panel-top:before {
  content: "\eb68";
}
.layout-template:before {
  content: "\eb69";
}
.leaf:before {
  content: "\eb6a";
}
.leafy-green:before {
  content: "\eb6b";
}
.library:before {
  content: "\eb6c";
}
.life-buoy:before {
  content: "\eb6d";
}
.ligature:before {
  content: "\eb6e";
}
.lightbulb:before {
  content: "\eb6f";
}
.lightbulb-off:before {
  content: "\eb70";
}
.line-chart:before {
  content: "\eb71";
}
.link:before {
  content: "\eb72";
}
.link-2:before {
  content: "\eb73";
}
.link-2-off:before {
  content: "\eb74";
}
.linkedin:before {
  content: "\eb75";
}
.list:before {
  content: "\eb76";
}
.list-checks:before {
  content: "\eb77";
}
.list-end:before {
  content: "\eb78";
}
.list-filter:before {
  content: "\eb79";
}
.list-minus:before {
  content: "\eb7a";
}
.list-music:before {
  content: "\eb7b";
}
.list-ordered:before {
  content: "\eb7c";
}
.list-plus:before {
  content: "\eb7d";
}
.list-restart:before {
  content: "\eb7e";
}
.list-start:before {
  content: "\eb7f";
}
.list-tree:before {
  content: "\eb80";
}
.list-video:before {
  content: "\eb81";
}
.list-x:before {
  content: "\eb82";
}
.loader:before {
  content: "\eb83";
}
.loader-2:before {
  content: "\eb84";
}
.locate:before {
  content: "\eb85";
}
.locate-fixed:before {
  content: "\eb86";
}
.locate-off:before {
  content: "\eb87";
}
.lock:before {
  content: "\eb88";
}
.log-in:before {
  content: "\eb89";
}
.log-out:before {
  content: "\eb8a";
}
.luggage:before {
  content: "\eb8b";
}
.magnet:before {
  content: "\eb8c";
}
.mail:before {
  content: "\eb8d";
}
.mailbox:before {
  content: "\eb8e";
}
.mail-check:before {
  content: "\eb8f";
}
.mail-minus:before {
  content: "\eb90";
}
.mail-open:before {
  content: "\eb91";
}
.mail-plus:before {
  content: "\eb92";
}
.mail-question:before {
  content: "\eb93";
}
.mails:before {
  content: "\eb94";
}
.mail-search:before {
  content: "\eb95";
}
.mail-warning:before {
  content: "\eb96";
}
.mail-x:before {
  content: "\eb97";
}
.map:before {
  content: "\eb98";
}
.map-pin:before {
  content: "\eb99";
}
.map-pin-off:before {
  content: "\eb9a";
}
.martini:before {
  content: "\eb9b";
}
.maximize:before {
  content: "\eb9c";
}
.maximize-2:before {
  content: "\eb9d";
}
.medal:before {
  content: "\eb9e";
}
.megaphone:before {
  content: "\eb9f";
}
.megaphone-off:before {
  content: "\eba0";
}
.meh:before {
  content: "\eba1";
}
.memory-stick:before {
  content: "\eba2";
}
.menu:before {
  content: "\eba3";
}
.menu-square:before {
  content: "\eba4";
}
.merge:before {
  content: "\eba5";
}
.message-circle:before {
  content: "\eba6";
}
.message-square:before {
  content: "\eba7";
}
.message-square-dashed:before {
  content: "\eba8";
}
.message-square-plus:before {
  content: "\eba9";
}
.messages-square:before {
  content: "\ebaa";
}
.mic:before {
  content: "\ebab";
}
.mic-2:before {
  content: "\ebac";
}
.mic-off:before {
  content: "\ebad";
}
.microscope:before {
  content: "\ebae";
}
.microwave:before {
  content: "\ebaf";
}
.milestone:before {
  content: "\ebb0";
}
.milk:before {
  content: "\ebb1";
}
.milk-off:before {
  content: "\ebb2";
}
.minimize:before {
  content: "\ebb3";
}
.minimize-2:before {
  content: "\ebb4";
}
.minus:before {
  content: "\ebb5";
}
.minus-circle:before {
  content: "\ebb6";
}
.minus-square:before {
  content: "\ebb7";
}
.monitor:before {
  content: "\ebb8";
}
.monitor-down:before {
  content: "\ebb9";
}
.monitor-off:before {
  content: "\ebba";
}
.monitor-smartphone:before {
  content: "\ebbb";
}
.monitor-speaker:before {
  content: "\ebbc";
}
.monitor-up:before {
  content: "\ebbd";
}
.moon:before {
  content: "\ebbe";
}
.moon-star:before {
  content: "\ebbf";
}
.more-horizontal:before {
  content: "\ebc0";
}
.more-vertical:before {
  content: "\ebc1";
}
.mountain:before {
  content: "\ebc2";
}
.mountain-snow:before {
  content: "\ebc3";
}
.mouse:before {
  content: "\ebc4";
}
.mouse-pointer:before {
  content: "\ebc5";
}
.mouse-pointer-2:before {
  content: "\ebc6";
}
.mouse-pointer-click:before {
  content: "\ebc7";
}
.move:before {
  content: "\ebc8";
}
.move-3d:before {
  content: "\ebc9";
}
.move-diagonal:before {
  content: "\ebca";
}
.move-diagonal-2:before {
  content: "\ebcb";
}
.move-horizontal:before {
  content: "\ebcc";
}
.move-vertical:before {
  content: "\ebcd";
}
.music:before {
  content: "\ebce";
}
.music-2:before {
  content: "\ebcf";
}
.music-3:before {
  content: "\ebd0";
}
.music-4:before {
  content: "\ebd1";
}
.navigation:before {
  content: "\ebd2";
}
.navigation-2:before {
  content: "\ebd3";
}
.navigation-2-off:before {
  content: "\ebd4";
}
.navigation-off:before {
  content: "\ebd5";
}
.network:before {
  content: "\ebd6";
}
.newspaper:before {
  content: "\ebd7";
}
.nfc:before {
  content: "\ebd8";
}
.nut:before {
  content: "\ebd9";
}
.nut-off:before {
  content: "\ebda";
}
.octagon:before {
  content: "\ebdb";
}
.option:before {
  content: "\ebdc";
}
.orbit:before {
  content: "\ebdd";
}
.outdent:before {
  content: "\ebde";
}
.package:before {
  content: "\ebdf";
}
.package-2:before {
  content: "\ebe0";
}
.package-check:before {
  content: "\ebe1";
}
.package-minus:before {
  content: "\ebe2";
}
.package-open:before {
  content: "\ebe3";
}
.package-plus:before {
  content: "\ebe4";
}
.package-search:before {
  content: "\ebe5";
}
.package-x:before {
  content: "\ebe6";
}
.paintbrush:before {
  content: "\ebe7";
}
.paintbrush-2:before {
  content: "\ebe8";
}
.paint-bucket:before {
  content: "\ebe9";
}
.palette:before {
  content: "\ebea";
}
.palmtree:before {
  content: "\ebeb";
}
.panel-bottom:before {
  content: "\ebec";
}
.panel-bottom-close:before {
  content: "\ebed";
}
.panel-bottom-inactive:before {
  content: "\ebee";
}
.panel-bottom-open:before {
  content: "\ebef";
}
.panel-left:before {
  content: "\ebf0";
}
.panel-left-close:before {
  content: "\ebf1";
}
.panel-left-inactive:before {
  content: "\ebf2";
}
.panel-left-open:before {
  content: "\ebf3";
}
.panel-right:before {
  content: "\ebf4";
}
.panel-right-close:before {
  content: "\ebf5";
}
.panel-right-inactive:before {
  content: "\ebf6";
}
.panel-right-open:before {
  content: "\ebf7";
}
.panel-top:before {
  content: "\ebf8";
}
.panel-top-close:before {
  content: "\ebf9";
}
.panel-top-inactive:before {
  content: "\ebfa";
}
.panel-top-open:before {
  content: "\ebfb";
}
.paperclip:before {
  content: "\ebfc";
}
.parentheses:before {
  content: "\ebfd";
}
.parking-circle:before {
  content: "\ebfe";
}
.parking-circle-off:before {
  content: "\ebff";
}
.parking-square:before {
  content: "\ec00";
}
.parking-square-off:before {
  content: "\ec01";
}
.party-popper:before {
  content: "\ec02";
}
.pause:before {
  content: "\ec03";
}
.pause-circle:before {
  content: "\ec04";
}
.pause-octagon:before {
  content: "\ec05";
}
.pc-case:before {
  content: "\ec06";
}
.pencil:before {
  content: "\ec07";
}
.pen-tool:before {
  content: "\ec08";
}
.percent:before {
  content: "\ec09";
}
.person-standing:before {
  content: "\ec0a";
}
.phone:before {
  content: "\ec0b";
}
.phone-call:before {
  content: "\ec0c";
}
.phone-forwarded:before {
  content: "\ec0d";
}
.phone-incoming:before {
  content: "\ec0e";
}
.phone-missed:before {
  content: "\ec0f";
}
.phone-off:before {
  content: "\ec10";
}
.phone-outgoing:before {
  content: "\ec11";
}
.pi:before {
  content: "\ec12";
}
.picture-in-picture:before {
  content: "\ec13";
}
.picture-in-picture-2:before {
  content: "\ec14";
}
.pie-chart:before {
  content: "\ec15";
}
.piggy-bank:before {
  content: "\ec16";
}
.pilcrow:before {
  content: "\ec17";
}
.pill:before {
  content: "\ec18";
}
.pin:before {
  content: "\ec19";
}
.pin-off:before {
  content: "\ec1a";
}
.pipette:before {
  content: "\ec1b";
}
.pizza:before {
  content: "\ec1c";
}
.plane:before {
  content: "\ec1d";
}
.plane-landing:before {
  content: "\ec1e";
}
.plane-takeoff:before {
  content: "\ec1f";
}
.play:before {
  content: "\ec20";
}
.play-circle:before {
  content: "\ec21";
}
.plug:before {
  content: "\ec22";
}
.plug-2:before {
  content: "\ec23";
}
.plug-zap:before {
  content: "\ec24";
}
.plug-zap-2:before {
  content: "\ec25";
}
.plus:before {
  content: "\ec26";
}
.plus-circle:before {
  content: "\ec27";
}
.plus-square:before {
  content: "\ec28";
}
.pocket:before {
  content: "\ec29";
}
.podcast:before {
  content: "\ec2a";
}
.pointer:before {
  content: "\ec2b";
}
.pound-sterling:before {
  content: "\ec2c";
}
.power:before {
  content: "\ec2d";
}
.power-off:before {
  content: "\ec2e";
}
.printer:before {
  content: "\ec2f";
}
.puzzle:before {
  content: "\ec30";
}
.qr-code:before {
  content: "\ec31";
}
.quote:before {
  content: "\ec32";
}
.radiation:before {
  content: "\ec33";
}
.radio:before {
  content: "\ec34";
}
.radio-receiver:before {
  content: "\ec35";
}
.radio-tower:before {
  content: "\ec36";
}
.rat:before {
  content: "\ec37";
}
.receipt:before {
  content: "\ec38";
}
.rectangle-horizontal:before {
  content: "\ec39";
}
.rectangle-vertical:before {
  content: "\ec3a";
}
.recycle:before {
  content: "\ec3b";
}
.redo:before {
  content: "\ec3c";
}
.redo-2:before {
  content: "\ec3d";
}
.redo-dot:before {
  content: "\ec3e";
}
.refresh-ccw:before {
  content: "\ec3f";
}
.refresh-cw:before {
  content: "\ec40";
}
.refrigerator:before {
  content: "\ec41";
}
.regex:before {
  content: "\ec42";
}
.remove-formatting:before {
  content: "\ec43";
}
.repeat:before {
  content: "\ec44";
}
.repeat-1:before {
  content: "\ec45";
}
.repeat-2:before {
  content: "\ec46";
}
.replace:before {
  content: "\ec47";
}
.replace-all:before {
  content: "\ec48";
}
.reply:before {
  content: "\ec49";
}
.reply-all:before {
  content: "\ec4a";
}
.rewind:before {
  content: "\ec4b";
}
.rocket:before {
  content: "\ec4c";
}
.rocking-chair:before {
  content: "\ec4d";
}
.rotate-3d:before {
  content: "\ec4e";
}
.rotate-ccw:before {
  content: "\ec4f";
}
.rotate-cw:before {
  content: "\ec50";
}
.router:before {
  content: "\ec51";
}
.rows:before {
  content: "\ec52";
}
.rss:before {
  content: "\ec53";
}
.ruler:before {
  content: "\ec54";
}
.russian-ruble:before {
  content: "\ec55";
}
.sailboat:before {
  content: "\ec56";
}
.salad:before {
  content: "\ec57";
}
.sandwich:before {
  content: "\ec58";
}
.satellite:before {
  content: "\ec59";
}
.satellite-dish:before {
  content: "\ec5a";
}
.save:before {
  content: "\ec5b";
}
.save-all:before {
  content: "\ec5c";
}
.scale:before {
  content: "\ec5d";
}
.scale-3d:before {
  content: "\ec5e";
}
.scaling:before {
  content: "\ec5f";
}
.scan:before {
  content: "\ec60";
}
.scan-face:before {
  content: "\ec61";
}
.scan-line:before {
  content: "\ec62";
}
.school:before {
  content: "\ec63";
}
.school-2:before {
  content: "\ec64";
}
.scissors:before {
  content: "\ec65";
}
.screen-share:before {
  content: "\ec66";
}
.screen-share-off:before {
  content: "\ec67";
}
.scroll:before {
  content: "\ec68";
}
.scroll-text:before {
  content: "\ec69";
}
.search:before {
  content: "\ec6a";
}
.send:before {
  content: "\ec6b";
}
.separator-horizontal:before {
  content: "\ec6c";
}
.separator-vertical:before {
  content: "\ec6d";
}
.server:before {
  content: "\ec6e";
}
.server-cog:before {
  content: "\ec6f";
}
.server-crash:before {
  content: "\ec70";
}
.server-off:before {
  content: "\ec71";
}
.settings:before {
  content: "\ec72";
}
.settings-2:before {
  content: "\ec73";
}
.share:before {
  content: "\ec74";
}
.share-2:before {
  content: "\ec75";
}
.sheet:before {
  content: "\ec76";
}
.shield:before {
  content: "\ec77";
}
.shield-alert:before {
  content: "\ec78";
}
.shield-check:before {
  content: "\ec79";
}
.shield-close:before {
  content: "\ec7a";
}
.shield-off:before {
  content: "\ec7b";
}
.shield-question:before {
  content: "\ec7c";
}
.ship:before {
  content: "\ec7d";
}
.shirt:before {
  content: "\ec7e";
}
.shopping-bag:before {
  content: "\ec7f";
}
.shopping-cart:before {
  content: "\ec80";
}
.shovel:before {
  content: "\ec81";
}
.shower-head:before {
  content: "\ec82";
}
.shrink:before {
  content: "\ec83";
}
.shrub:before {
  content: "\ec84";
}
.shuffle:before {
  content: "\ec85";
}
.sidebar:before {
  content: "\ec86";
}
.sidebar-close:before {
  content: "\ec87";
}
.sidebar-open:before {
  content: "\ec88";
}
.sigma:before {
  content: "\ec89";
}
.signal:before {
  content: "\ec8a";
}
.signal-high:before {
  content: "\ec8b";
}
.signal-low:before {
  content: "\ec8c";
}
.signal-medium:before {
  content: "\ec8d";
}
.signal-zero:before {
  content: "\ec8e";
}
.siren:before {
  content: "\ec8f";
}
.skip-back:before {
  content: "\ec90";
}
.skip-forward:before {
  content: "\ec91";
}
.skull:before {
  content: "\ec92";
}
.slack:before {
  content: "\ec93";
}
.slash:before {
  content: "\ec94";
}
.slice:before {
  content: "\ec95";
}
.sliders:before {
  content: "\ec96";
}
.sliders-horizontal:before {
  content: "\ec97";
}
.smartphone:before {
  content: "\ec98";
}
.smartphone-charging:before {
  content: "\ec99";
}
.smartphone-nfc:before {
  content: "\ec9a";
}
.smile:before {
  content: "\ec9b";
}
.smile-plus:before {
  content: "\ec9c";
}
.snowflake:before {
  content: "\ec9d";
}
.sofa:before {
  content: "\ec9e";
}
.sort-asc:before {
  content: "\ec9f";
}
.sort-desc:before {
  content: "\eca0";
}
.soup:before {
  content: "\eca1";
}
.space:before {
  content: "\eca2";
}
.sparkles:before {
  content: "\eca3";
}
.speaker:before {
  content: "\eca4";
}
.spline:before {
  content: "\eca5";
}
.split:before {
  content: "\eca6";
}
.split-square-horizontal:before {
  content: "\eca7";
}
.split-square-vertical:before {
  content: "\eca8";
}
.sprout:before {
  content: "\eca9";
}
.square:before {
  content: "\ecaa";
}
.square-asterisk:before {
  content: "\ecab";
}
.square-dot:before {
  content: "\ecac";
}
.square-equal:before {
  content: "\ecad";
}
.square-slash:before {
  content: "\ecae";
}
.stamp:before {
  content: "\ecaf";
}
.star:before {
  content: "\ecb0";
}
.star-half:before {
  content: "\ecb1";
}
.star-off:before {
  content: "\ecb2";
}
.step-back:before {
  content: "\ecb3";
}
.step-forward:before {
  content: "\ecb4";
}
.stethoscope:before {
  content: "\ecb5";
}
.sticker:before {
  content: "\ecb6";
}
.sticky-note:before {
  content: "\ecb7";
}
.stop-circle:before {
  content: "\ecb8";
}
.store:before {
  content: "\ecb9";
}
.stretch-horizontal:before {
  content: "\ecba";
}
.stretch-vertical:before {
  content: "\ecbb";
}
.strikethrough:before {
  content: "\ecbc";
}
.subscript:before {
  content: "\ecbd";
}
.subtitles:before {
  content: "\ecbe";
}
.sun:before {
  content: "\ecbf";
}
.sun-dim:before {
  content: "\ecc0";
}
.sun-medium:before {
  content: "\ecc1";
}
.sun-moon:before {
  content: "\ecc2";
}
.sunrise:before {
  content: "\ecc3";
}
.sunset:before {
  content: "\ecc4";
}
.sun-snow:before {
  content: "\ecc5";
}
.superscript:before {
  content: "\ecc6";
}
.swiss-franc:before {
  content: "\ecc7";
}
.switch-camera:before {
  content: "\ecc8";
}
.sword:before {
  content: "\ecc9";
}
.swords:before {
  content: "\ecca";
}
.syringe:before {
  content: "\eccb";
}
.table:before {
  content: "\eccc";
}
.table-2:before {
  content: "\eccd";
}
.tablet:before {
  content: "\ecce";
}
.tablets:before {
  content: "\eccf";
}
.tag:before {
  content: "\ecd0";
}
.tags:before {
  content: "\ecd1";
}
.target:before {
  content: "\ecd2";
}
.tent:before {
  content: "\ecd3";
}
.terminal:before {
  content: "\ecd4";
}
.terminal-square:before {
  content: "\ecd5";
}
.test-tube:before {
  content: "\ecd6";
}
.test-tube-2:before {
  content: "\ecd7";
}
.test-tubes:before {
  content: "\ecd8";
}
.text:before {
  content: "\ecd9";
}
.text-cursor:before {
  content: "\ecda";
}
.text-cursor-input:before {
  content: "\ecdb";
}
.text-select:before {
  content: "\ecdc";
}
.thermometer:before {
  content: "\ecdd";
}
.thermometer-snowflake:before {
  content: "\ecde";
}
.thermometer-sun:before {
  content: "\ecdf";
}
.thumbs-down:before {
  content: "\ece0";
}
.thumbs-up:before {
  content: "\ece1";
}
.ticket:before {
  content: "\ece2";
}
.timer:before {
  content: "\ece3";
}
.timer-off:before {
  content: "\ece4";
}
.timer-reset:before {
  content: "\ece5";
}
.toggle-left:before {
  content: "\ece6";
}
.toggle-right:before {
  content: "\ece7";
}
.tornado:before {
  content: "\ece8";
}
.touchpad:before {
  content: "\ece9";
}
.touchpad-off:before {
  content: "\ecea";
}
.tower-control:before {
  content: "\eceb";
}
.toy-brick:before {
  content: "\ecec";
}
.train:before {
  content: "\eced";
}
.trash:before {
  content: "\ecee";
}
.trash-2:before {
  content: "\ecef";
}
.tree-deciduous:before {
  content: "\ecf0";
}
.tree-pine:before {
  content: "\ecf1";
}
.trees:before {
  content: "\ecf2";
}
.trello:before {
  content: "\ecf3";
}
.trending-down:before {
  content: "\ecf4";
}
.trending-up:before {
  content: "\ecf5";
}
.triangle:before {
  content: "\ecf6";
}
.trophy:before {
  content: "\ecf7";
}
.truck:before {
  content: "\ecf8";
}
.tv:before {
  content: "\ecf9";
}
.tv-2:before {
  content: "\ecfa";
}
.twitch:before {
  content: "\ecfb";
}
.twitter:before {
  content: "\ecfc";
}
.type:before {
  content: "\ecfd";
}
.umbrella:before {
  content: "\ecfe";
}
.underline:before {
  content: "\ecff";
}
.undo:before {
  content: "\ed00";
}
.undo-2:before {
  content: "\ed01";
}
.undo-dot:before {
  content: "\ed02";
}
.unfold-horizontal:before {
  content: "\ed03";
}
.unfold-vertical:before {
  content: "\ed04";
}
.ungroup:before {
  content: "\ed05";
}
.unlink:before {
  content: "\ed06";
}
.unlink-2:before {
  content: "\ed07";
}
.unlock:before {
  content: "\ed08";
}
.unplug:before {
  content: "\ed09";
}
.upload:before {
  content: "\ed0a";
}
.upload-cloud:before {
  content: "\ed0b";
}
.usb:before {
  content: "\ed0c";
}
.user:before {
  content: "\ed0d";
}
.user-2:before {
  content: "\ed0e";
}
.user-check:before {
  content: "\ed0f";
}
.user-check-2:before {
  content: "\ed10";
}
.user-circle:before {
  content: "\ed11";
}
.user-circle-2:before {
  content: "\ed12";
}
.user-cog:before {
  content: "\ed13";
}
.user-cog-2:before {
  content: "\ed14";
}
.user-minus:before {
  content: "\ed15";
}
.user-minus-2:before {
  content: "\ed16";
}
.user-plus:before {
  content: "\ed17";
}
.user-plus-2:before {
  content: "\ed18";
}
.users:before {
  content: "\ed19";
}
.users-2:before {
  content: "\ed1a";
}
.user-square:before {
  content: "\ed1b";
}
.user-square-2:before {
  content: "\ed1c";
}
.user-x:before {
  content: "\ed1d";
}
.user-x-2:before {
  content: "\ed1e";
}
.utensils:before {
  content: "\ed1f";
}
.utensils-crossed:before {
  content: "\ed20";
}
.utility-pole:before {
  content: "\ed21";
}
.variable:before {
  content: "\ed22";
}
.vegan:before {
  content: "\ed23";
}
.venetian-mask:before {
  content: "\ed24";
}
.verified:before {
  content: "\ed25";
}
.vibrate:before {
  content: "\ed26";
}
.vibrate-off:before {
  content: "\ed27";
}
.video:before {
  content: "\ed28";
}
.video-off:before {
  content: "\ed29";
}
.view:before {
  content: "\ed2a";
}
.voicemail:before {
  content: "\ed2b";
}
.volume:before {
  content: "\ed2c";
}
.volume-1:before {
  content: "\ed2d";
}
.volume-2:before {
  content: "\ed2e";
}
.volume-x:before {
  content: "\ed2f";
}
.vote:before {
  content: "\ed30";
}
.wallet:before {
  content: "\ed31";
}
.wallpaper:before {
  content: "\ed32";
}
.wand:before {
  content: "\ed33";
}
.wand-2:before {
  content: "\ed34";
}
.warehouse:before {
  content: "\ed35";
}
.watch:before {
  content: "\ed36";
}
.waves:before {
  content: "\ed37";
}
.webcam:before {
  content: "\ed38";
}
.webhook:before {
  content: "\ed39";
}
.wheat:before {
  content: "\ed3a";
}
.wheat-off:before {
  content: "\ed3b";
}
.whole-word:before {
  content: "\ed3c";
}
.wifi:before {
  content: "\ed3d";
}
.wifi-off:before {
  content: "\ed3e";
}
.wind:before {
  content: "\ed3f";
}
.wine:before {
  content: "\ed40";
}
.wine-off:before {
  content: "\ed41";
}
.workflow:before {
  content: "\ed42";
}
.wrap-text:before {
  content: "\ed43";
}
.wrench:before {
  content: "\ed44";
}
.x:before {
  content: "\ed45";
}
.x-circle:before {
  content: "\ed46";
}
.x-octagon:before {
  content: "\ed47";
}
.x-square:before {
  content: "\ed48";
}
.youtube:before {
  content: "\ed49";
}
.zap:before {
  content: "\ed4a";
}
.zap-off:before {
  content: "\ed4b";
}
.zoom-in:before {
  content: "\ed4c";
}
.zoom-out:before {
  content: "\ed4d";
}
