$icomoon-font-family: "Lucide-Icons" !default;
$icomoon-font-path: "fonts" !default;

$accessibility: "\e900";
$activity: "\e901";
$airplay: "\e902";
$air-vent: "\e903";
$alarm-check: "\e904";
$alarm-clock: "\e905";
$alarm-clock-off: "\e906";
$alarm-minus: "\e907";
$alarm-plus: "\e908";
$album: "\e909";
$alert-circle: "\e90a";
$alert-octagon: "\e90b";
$alert-triangle: "\e90c";
$align-center: "\e90d";
$align-center-horizontal: "\e90e";
$align-center-vertical: "\e90f";
$align-end-horizontal: "\e910";
$align-end-vertical: "\e911";
$align-horizontal-distribute-center: "\e912";
$align-horizontal-distribute-end: "\e913";
$align-horizontal-distribute-start: "\e914";
$align-horizontal-justify-center: "\e915";
$align-horizontal-justify-end: "\e916";
$align-horizontal-justify-start: "\e917";
$align-horizontal-space-around: "\e918";
$align-horizontal-space-between: "\e919";
$align-justify: "\e91a";
$align-left: "\e91b";
$align-right: "\e91c";
$align-start-horizontal: "\e91d";
$align-start-vertical: "\e91e";
$align-vertical-distribute-center: "\e91f";
$align-vertical-distribute-end: "\e920";
$align-vertical-distribute-start: "\e921";
$align-vertical-justify-center: "\e922";
$align-vertical-justify-end: "\e923";
$align-vertical-justify-start: "\e924";
$align-vertical-space-around: "\e925";
$align-vertical-space-between: "\e926";
$anchor: "\e927";
$angry: "\e928";
$annoyed: "\e929";
$aperture: "\e92a";
$apple: "\e92b";
$app-window: "\e92c";
$archive: "\e92d";
$archive-restore: "\e92e";
$armchair: "\e92f";
$arrow-big-down: "\e930";
$arrow-big-down-dash: "\e931";
$arrow-big-left: "\e932";
$arrow-big-left-dash: "\e933";
$arrow-big-right: "\e934";
$arrow-big-right-dash: "\e935";
$arrow-big-up: "\e936";
$arrow-big-up-dash: "\e937";
$arrow-down: "\e938";
$arrow-down-0-1: "\e939";
$arrow-down-1-0: "\e93a";
$arrow-down-a-z: "\e93b";
$arrow-down-circle: "\e93c";
$arrow-down-from-line: "\e93d";
$arrow-down-left: "\e93e";
$arrow-down-left-from-circle: "\e93f";
$arrow-down-narrow-wide: "\e940";
$arrow-down-right: "\e941";
$arrow-down-right-from-circle: "\e942";
$arrow-down-square: "\e943";
$arrow-down-to-dot: "\e944";
$arrow-down-to-line: "\e945";
$arrow-down-up: "\e946";
$arrow-down-wide-narrow: "\e947";
$arrow-down-z-a: "\e948";
$arrow-left: "\e949";
$arrow-left-circle: "\e94a";
$arrow-left-from-line: "\e94b";
$arrow-left-right: "\e94c";
$arrow-left-square: "\e94d";
$arrow-left-to-line: "\e94e";
$arrow-right: "\e94f";
$arrow-right-circle: "\e950";
$arrow-right-from-line: "\e951";
$arrow-right-left: "\e952";
$arrow-right-square: "\e953";
$arrow-right-to-line: "\e954";
$arrow-up: "\e955";
$arrow-up-0-1: "\e956";
$arrow-up-1-0: "\e957";
$arrow-up-a-z: "\e958";
$arrow-up-circle: "\e959";
$arrow-up-down: "\e95a";
$arrow-up-from-dot: "\e95b";
$arrow-up-from-line: "\e95c";
$arrow-up-left: "\e95d";
$arrow-up-left-from-circle: "\e95e";
$arrow-up-narrow-wide: "\e95f";
$arrow-up-right: "\e960";
$arrow-up-right-from-circle: "\e961";
$arrow-up-square: "\e962";
$arrow-up-to-line: "\e963";
$arrow-up-wide-narrow: "\e964";
$arrow-up-z-a: "\e965";
$asterisk: "\e966";
$atom: "\e967";
$at-sign: "\e968";
$award: "\e969";
$axe: "\e96a";
$axis-3d: "\e96b";
$baby: "\e96c";
$backpack: "\e96d";
$badge: "\e96e";
$badge-alert: "\e96f";
$badge-check: "\e970";
$badge-dollar-sign: "\e971";
$badge-help: "\e972";
$badge-info: "\e973";
$badge-minus: "\e974";
$badge-percent: "\e975";
$badge-plus: "\e976";
$badge-x: "\e977";
$baggage-claim: "\e978";
$ban: "\e979";
$banana: "\e97a";
$banknote: "\e97b";
$bar-chart: "\e97c";
$bar-chart-2: "\e97d";
$bar-chart-3: "\e97e";
$bar-chart-4: "\e97f";
$bar-chart-horizontal: "\e980";
$baseline: "\e981";
$bath: "\e982";
$battery: "\e983";
$battery-charging: "\e984";
$battery-full: "\e985";
$battery-low: "\e986";
$battery-medium: "\e987";
$battery-warning: "\e988";
$beaker: "\e989";
$bean: "\e98a";
$bean-off: "\e98b";
$bed: "\e98c";
$bed-double: "\e98d";
$bed-single: "\e98e";
$beef: "\e98f";
$beer: "\e990";
$bell: "\e991";
$bell-dot: "\e992";
$bell-minus: "\e993";
$bell-off: "\e994";
$bell-plus: "\e995";
$bell-ring: "\e996";
$bike: "\e997";
$binary: "\e998";
$biohazard: "\e999";
$bird: "\e99a";
$bitcoin: "\e99b";
$blinds: "\e99c";
$bluetooth: "\e99d";
$bluetooth-connected: "\e99e";
$bluetooth-off: "\e99f";
$bluetooth-searching: "\e9a0";
$bold: "\e9a1";
$bomb: "\e9a2";
$bone: "\e9a3";
$book: "\e9a4";
$book-copy: "\e9a5";
$book-down: "\e9a6";
$book-key: "\e9a7";
$book-lock: "\e9a8";
$bookmark: "\e9a9";
$book-marked: "\e9aa";
$bookmark-minus: "\e9ab";
$bookmark-plus: "\e9ac";
$book-minus: "\e9ad";
$book-open: "\e9ae";
$book-open-check: "\e9af";
$book-plus: "\e9b0";
$book-template: "\e9b1";
$book-up: "\e9b2";
$book-x: "\e9b3";
$bot: "\e9b4";
$box: "\e9b5";
$boxes: "\e9b6";
$box-select: "\e9b7";
$braces: "\e9b8";
$brackets: "\e9b9";
$brain: "\e9ba";
$brain-circuit: "\e9bb";
$brain-cog: "\e9bc";
$briefcase: "\e9bd";
$brush: "\e9be";
$bug: "\e9bf";
$building: "\e9c0";
$building-2: "\e9c1";
$bus: "\e9c2";
$cake: "\e9c3";
$calculator: "\e9c4";
$calendar: "\e9c5";
$calendar-check: "\e9c6";
$calendar-check-2: "\e9c7";
$calendar-clock: "\e9c8";
$calendar-days: "\e9c9";
$calendar-heart: "\e9ca";
$calendar-minus: "\e9cb";
$calendar-off: "\e9cc";
$calendar-plus: "\e9cd";
$calendar-range: "\e9ce";
$calendar-search: "\e9cf";
$calendar-x: "\e9d0";
$calendar-x-2: "\e9d1";
$camera: "\e9d2";
$camera-off: "\e9d3";
$candy: "\e9d4";
$candy-off: "\e9d5";
$car: "\e9d6";
$carrot: "\e9d7";
$case-lower: "\e9d8";
$case-sensitive: "\e9d9";
$case-upper: "\e9da";
$cast: "\e9db";
$castle: "\e9dc";
$cat: "\e9dd";
$check: "\e9de";
$check-check: "\e9df";
$check-circle: "\e9e0";
$check-circle-2: "\e9e1";
$check-square: "\e9e2";
$chef-hat: "\e9e3";
$cherry: "\e9e4";
$chevron-down: "\e9e5";
$chevron-down-square: "\e9e6";
$chevron-first: "\e9e7";
$chevron-last: "\e9e8";
$chevron-left: "\e9e9";
$chevron-left-square: "\e9ea";
$chevron-right: "\e9eb";
$chevron-right-square: "\e9ec";
$chevrons-down: "\e9ed";
$chevrons-down-up: "\e9ee";
$chevrons-left: "\e9ef";
$chevrons-left-right: "\e9f0";
$chevrons-right: "\e9f1";
$chevrons-right-left: "\e9f2";
$chevrons-up: "\e9f3";
$chevrons-up-down: "\e9f4";
$chevron-up: "\e9f5";
$chevron-up-square: "\e9f6";
$chrome: "\e9f7";
$church: "\e9f8";
$cigarette: "\e9f9";
$cigarette-off: "\e9fa";
$circle: "\e9fb";
$circle-dollar-sign: "\e9fc";
$circle-dot: "\e9fd";
$circle-ellipsis: "\e9fe";
$circle-equal: "\e9ff";
$circle-off: "\ea00";
$circle-slash: "\ea01";
$circle-slash-2: "\ea02";
$circle-slashed: "\ea03";
$circuit-board: "\ea04";
$citrus: "\ea05";
$clapperboard: "\ea06";
$clipboard: "\ea07";
$clipboard-check: "\ea08";
$clipboard-copy: "\ea09";
$clipboard-edit: "\ea0a";
$clipboard-list: "\ea0b";
$clipboard-paste: "\ea0c";
$clipboard-signature: "\ea0d";
$clipboard-type: "\ea0e";
$clipboard-x: "\ea0f";
$clock: "\ea10";
$clock-1: "\ea11";
$clock-2: "\ea12";
$clock-3: "\ea13";
$clock-4: "\ea14";
$clock-5: "\ea15";
$clock-6: "\ea16";
$clock-7: "\ea17";
$clock-8: "\ea18";
$clock-9: "\ea19";
$clock-10: "\ea1a";
$clock-11: "\ea1b";
$clock-12: "\ea1c";
$cloud: "\ea1d";
$cloud-cog: "\ea1e";
$cloud-drizzle: "\ea1f";
$cloud-fog: "\ea20";
$cloud-hail: "\ea21";
$cloud-lightning: "\ea22";
$cloud-moon: "\ea23";
$cloud-moon-rain: "\ea24";
$cloud-off: "\ea25";
$cloud-rain: "\ea26";
$cloud-rain-wind: "\ea27";
$cloud-snow: "\ea28";
$cloud-sun: "\ea29";
$cloud-sun-rain: "\ea2a";
$cloudy: "\ea2b";
$clover: "\ea2c";
$code: "\ea2d";
$code-2: "\ea2e";
$codepen: "\ea2f";
$codesandbox: "\ea30";
$coffee: "\ea31";
$cog: "\ea32";
$coins: "\ea33";
$columns: "\ea34";
$combine: "\ea35";
$command: "\ea36";
$compass: "\ea37";
$component: "\ea38";
$concierge-bell: "\ea39";
$construction: "\ea3a";
$contact: "\ea3b";
$contact-2: "\ea3c";
$contrast: "\ea3d";
$cookie: "\ea3e";
$copy: "\ea3f";
$copy-check: "\ea40";
$copyleft: "\ea41";
$copy-minus: "\ea42";
$copy-plus: "\ea43";
$copyright: "\ea44";
$copy-slash: "\ea45";
$copy-x: "\ea46";
$corner-down-left: "\ea47";
$corner-down-right: "\ea48";
$corner-left-down: "\ea49";
$corner-left-up: "\ea4a";
$corner-right-down: "\ea4b";
$corner-right-up: "\ea4c";
$corner-up-left: "\ea4d";
$corner-up-right: "\ea4e";
$cpu: "\ea4f";
$creative-commons: "\ea50";
$credit-card: "\ea51";
$croissant: "\ea52";
$crop: "\ea53";
$cross: "\ea54";
$crosshair: "\ea55";
$crown: "\ea56";
$cup-soda: "\ea57";
$curly-braces: "\ea58";
$currency: "\ea59";
$database: "\ea5a";
$database-backup: "\ea5b";
$delete: "\ea5c";
$diamond: "\ea5d";
$dice-1: "\ea5e";
$dice-2: "\ea5f";
$dice-3: "\ea60";
$dice-4: "\ea61";
$dice-5: "\ea62";
$dice-6: "\ea63";
$dices: "\ea64";
$diff: "\ea65";
$disc: "\ea66";
$disc-2: "\ea67";
$divide: "\ea68";
$divide-circle: "\ea69";
$divide-square: "\ea6a";
$dna: "\ea6b";
$dna-off: "\ea6c";
$dog: "\ea6d";
$dollar-sign: "\ea6e";
$door-closed: "\ea6f";
$door-open: "\ea70";
$dot: "\ea71";
$download: "\ea72";
$download-cloud: "\ea73";
$dribbble: "\ea74";
$droplet: "\ea75";
$droplets: "\ea76";
$drumstick: "\ea77";
$dumbbell: "\ea78";
$ear: "\ea79";
$ear-off: "\ea7a";
$edit: "\ea7b";
$edit-2: "\ea7c";
$edit-3: "\ea7d";
$egg: "\ea7e";
$egg-fried: "\ea7f";
$egg-off: "\ea80";
$equal: "\ea81";
$equal-not: "\ea82";
$eraser: "\ea83";
$euro: "\ea84";
$expand: "\ea85";
$external-link: "\ea86";
$eye: "\ea87";
$eye-off: "\ea88";
$facebook: "\ea89";
$factory: "\ea8a";
$fan: "\ea8b";
$fast-forward: "\ea8c";
$feather: "\ea8d";
$figma: "\ea8e";
$file: "\ea8f";
$file-archive: "\ea90";
$file-audio: "\ea91";
$file-audio-2: "\ea92";
$file-axis-3d: "\ea93";
$file-badge: "\ea94";
$file-badge-2: "\ea95";
$file-bar-chart: "\ea96";
$file-bar-chart-2: "\ea97";
$file-box: "\ea98";
$file-check: "\ea99";
$file-check-2: "\ea9a";
$file-clock: "\ea9b";
$file-code: "\ea9c";
$file-code-2: "\ea9d";
$file-cog: "\ea9e";
$file-cog-2: "\ea9f";
$file-diff: "\eaa0";
$file-digit: "\eaa1";
$file-down: "\eaa2";
$file-edit: "\eaa3";
$file-heart: "\eaa4";
$file-image: "\eaa5";
$file-input: "\eaa6";
$file-json: "\eaa7";
$file-json-2: "\eaa8";
$file-key: "\eaa9";
$file-key-2: "\eaaa";
$file-line-chart: "\eaab";
$file-lock: "\eaac";
$file-lock-2: "\eaad";
$file-minus: "\eaae";
$file-minus-2: "\eaaf";
$file-output: "\eab0";
$file-pie-chart: "\eab1";
$file-plus: "\eab2";
$file-plus-2: "\eab3";
$file-question: "\eab4";
$files: "\eab5";
$file-scan: "\eab6";
$file-search: "\eab7";
$file-search-2: "\eab8";
$file-signature: "\eab9";
$file-spreadsheet: "\eaba";
$file-symlink: "\eabb";
$file-terminal: "\eabc";
$file-text: "\eabd";
$file-type: "\eabe";
$file-type-2: "\eabf";
$file-up: "\eac0";
$file-video: "\eac1";
$file-video-2: "\eac2";
$file-volume: "\eac3";
$file-volume-2: "\eac4";
$file-warning: "\eac5";
$file-x: "\eac6";
$file-x-2: "\eac7";
$film: "\eac8";
$filter: "\eac9";
$filter-x: "\eaca";
$fingerprint: "\eacb";
$fish: "\eacc";
$fish-off: "\eacd";
$flag: "\eace";
$flag-off: "\eacf";
$flag-triangle-left: "\ead0";
$flag-triangle-right: "\ead1";
$flame: "\ead2";
$flashlight: "\ead3";
$flashlight-off: "\ead4";
$flask-conical: "\ead5";
$flask-conical-off: "\ead6";
$flask-round: "\ead7";
$flip-horizontal: "\ead8";
$flip-horizontal-2: "\ead9";
$flip-vertical: "\eada";
$flip-vertical-2: "\eadb";
$flower: "\eadc";
$flower-2: "\eadd";
$focus: "\eade";
$folder: "\eadf";
$folder-archive: "\eae0";
$folder-check: "\eae1";
$folder-clock: "\eae2";
$folder-closed: "\eae3";
$folder-cog: "\eae4";
$folder-cog-2: "\eae5";
$folder-down: "\eae6";
$folder-edit: "\eae7";
$folder-git: "\eae8";
$folder-git-2: "\eae9";
$folder-heart: "\eaea";
$folder-input: "\eaeb";
$folder-key: "\eaec";
$folder-lock: "\eaed";
$folder-minus: "\eaee";
$folder-open: "\eaef";
$folder-output: "\eaf0";
$folder-plus: "\eaf1";
$folders: "\eaf2";
$folder-search: "\eaf3";
$folder-search-2: "\eaf4";
$folder-symlink: "\eaf5";
$folder-tree: "\eaf6";
$folder-up: "\eaf7";
$folder-x: "\eaf8";
$fold-horizontal: "\eaf9";
$fold-vertical: "\eafa";
$footprints: "\eafb";
$forklift: "\eafc";
$form-input: "\eafd";
$forward: "\eafe";
$frame: "\eaff";
$framer: "\eb00";
$frown: "\eb01";
$fuel: "\eb02";
$function-square: "\eb03";
$gamepad: "\eb04";
$gamepad-2: "\eb05";
$gauge: "\eb06";
$gavel: "\eb07";
$gem: "\eb08";
$ghost: "\eb09";
$gift: "\eb0a";
$git-branch: "\eb0b";
$git-branch-plus: "\eb0c";
$git-commit: "\eb0d";
$git-compare: "\eb0e";
$git-fork: "\eb0f";
$github: "\eb10";
$gitlab: "\eb11";
$git-merge: "\eb12";
$git-pull-request: "\eb13";
$git-pull-request-closed: "\eb14";
$git-pull-request-draft: "\eb15";
$glasses: "\eb16";
$glass-water: "\eb17";
$globe: "\eb18";
$globe-2: "\eb19";
$grab: "\eb1a";
$graduation-cap: "\eb1b";
$grape: "\eb1c";
$grid: "\eb1d";
$grip: "\eb1e";
$grip-horizontal: "\eb1f";
$grip-vertical: "\eb20";
$group: "\eb21";
$hammer: "\eb22";
$hand: "\eb23";
$hand-metal: "\eb24";
$hard-drive: "\eb25";
$hard-hat: "\eb26";
$hash: "\eb27";
$haze: "\eb28";
$heading: "\eb29";
$heading-1: "\eb2a";
$heading-2: "\eb2b";
$heading-3: "\eb2c";
$heading-4: "\eb2d";
$heading-5: "\eb2e";
$heading-6: "\eb2f";
$headphones: "\eb30";
$heart: "\eb31";
$heart-crack: "\eb32";
$heart-handshake: "\eb33";
$heart-off: "\eb34";
$heart-pulse: "\eb35";
$help-circle: "\eb36";
$helping-hand: "\eb37";
$hexagon: "\eb38";
$highlighter: "\eb39";
$history: "\eb3a";
$home: "\eb3b";
$hop: "\eb3c";
$hop-off: "\eb3d";
$hotel: "\eb3e";
$hourglass: "\eb3f";
$ice-cream: "\eb40";
$ice-cream-2: "\eb41";
$image: "\eb42";
$image-minus: "\eb43";
$image-off: "\eb44";
$image-plus: "\eb45";
$import: "\eb46";
$inbox: "\eb47";
$indent: "\eb48";
$indian-rupee: "\eb49";
$infinity: "\eb4a";
$info: "\eb4b";
$inspect: "\eb4c";
$instagram: "\eb4d";
$italic: "\eb4e";
$iteration-ccw: "\eb4f";
$iteration-cw: "\eb50";
$japanese-yen: "\eb51";
$joystick: "\eb52";
$key: "\eb53";
$keyboard: "\eb54";
$lamp: "\eb55";
$lamp-ceiling: "\eb56";
$lamp-desk: "\eb57";
$lamp-floor: "\eb58";
$lamp-wall-down: "\eb59";
$lamp-wall-up: "\eb5a";
$landmark: "\eb5b";
$languages: "\eb5c";
$laptop: "\eb5d";
$laptop-2: "\eb5e";
$lasso: "\eb5f";
$lasso-select: "\eb60";
$laugh: "\eb61";
$layers: "\eb62";
$layout: "\eb63";
$layout-dashboard: "\eb64";
$layout-grid: "\eb65";
$layout-list: "\eb66";
$layout-panel-left: "\eb67";
$layout-panel-top: "\eb68";
$layout-template: "\eb69";
$leaf: "\eb6a";
$leafy-green: "\eb6b";
$library: "\eb6c";
$life-buoy: "\eb6d";
$ligature: "\eb6e";
$lightbulb: "\eb6f";
$lightbulb-off: "\eb70";
$line-chart: "\eb71";
$link: "\eb72";
$link-2: "\eb73";
$link-2-off: "\eb74";
$linkedin: "\eb75";
$list: "\eb76";
$list-checks: "\eb77";
$list-end: "\eb78";
$list-filter: "\eb79";
$list-minus: "\eb7a";
$list-music: "\eb7b";
$list-ordered: "\eb7c";
$list-plus: "\eb7d";
$list-restart: "\eb7e";
$list-start: "\eb7f";
$list-tree: "\eb80";
$list-video: "\eb81";
$list-x: "\eb82";
$loader: "\eb83";
$loader-2: "\eb84";
$locate: "\eb85";
$locate-fixed: "\eb86";
$locate-off: "\eb87";
$lock: "\eb88";
$log-in: "\eb89";
$log-out: "\eb8a";
$luggage: "\eb8b";
$magnet: "\eb8c";
$mail: "\eb8d";
$mailbox: "\eb8e";
$mail-check: "\eb8f";
$mail-minus: "\eb90";
$mail-open: "\eb91";
$mail-plus: "\eb92";
$mail-question: "\eb93";
$mails: "\eb94";
$mail-search: "\eb95";
$mail-warning: "\eb96";
$mail-x: "\eb97";
$map: "\eb98";
$map-pin: "\eb99";
$map-pin-off: "\eb9a";
$martini: "\eb9b";
$maximize: "\eb9c";
$maximize-2: "\eb9d";
$medal: "\eb9e";
$megaphone: "\eb9f";
$megaphone-off: "\eba0";
$meh: "\eba1";
$memory-stick: "\eba2";
$menu: "\eba3";
$menu-square: "\eba4";
$merge: "\eba5";
$message-circle: "\eba6";
$message-square: "\eba7";
$message-square-dashed: "\eba8";
$message-square-plus: "\eba9";
$messages-square: "\ebaa";
$mic: "\ebab";
$mic-2: "\ebac";
$mic-off: "\ebad";
$microscope: "\ebae";
$microwave: "\ebaf";
$milestone: "\ebb0";
$milk: "\ebb1";
$milk-off: "\ebb2";
$minimize: "\ebb3";
$minimize-2: "\ebb4";
$minus: "\ebb5";
$minus-circle: "\ebb6";
$minus-square: "\ebb7";
$monitor: "\ebb8";
$monitor-down: "\ebb9";
$monitor-off: "\ebba";
$monitor-smartphone: "\ebbb";
$monitor-speaker: "\ebbc";
$monitor-up: "\ebbd";
$moon: "\ebbe";
$moon-star: "\ebbf";
$more-horizontal: "\ebc0";
$more-vertical: "\ebc1";
$mountain: "\ebc2";
$mountain-snow: "\ebc3";
$mouse: "\ebc4";
$mouse-pointer: "\ebc5";
$mouse-pointer-2: "\ebc6";
$mouse-pointer-click: "\ebc7";
$move: "\ebc8";
$move-3d: "\ebc9";
$move-diagonal: "\ebca";
$move-diagonal-2: "\ebcb";
$move-horizontal: "\ebcc";
$move-vertical: "\ebcd";
$music: "\ebce";
$music-2: "\ebcf";
$music-3: "\ebd0";
$music-4: "\ebd1";
$navigation: "\ebd2";
$navigation-2: "\ebd3";
$navigation-2-off: "\ebd4";
$navigation-off: "\ebd5";
$network: "\ebd6";
$newspaper: "\ebd7";
$nfc: "\ebd8";
$nut: "\ebd9";
$nut-off: "\ebda";
$octagon: "\ebdb";
$option: "\ebdc";
$orbit: "\ebdd";
$outdent: "\ebde";
$package: "\ebdf";
$package-2: "\ebe0";
$package-check: "\ebe1";
$package-minus: "\ebe2";
$package-open: "\ebe3";
$package-plus: "\ebe4";
$package-search: "\ebe5";
$package-x: "\ebe6";
$paintbrush: "\ebe7";
$paintbrush-2: "\ebe8";
$paint-bucket: "\ebe9";
$palette: "\ebea";
$palmtree: "\ebeb";
$panel-bottom: "\ebec";
$panel-bottom-close: "\ebed";
$panel-bottom-inactive: "\ebee";
$panel-bottom-open: "\ebef";
$panel-left: "\ebf0";
$panel-left-close: "\ebf1";
$panel-left-inactive: "\ebf2";
$panel-left-open: "\ebf3";
$panel-right: "\ebf4";
$panel-right-close: "\ebf5";
$panel-right-inactive: "\ebf6";
$panel-right-open: "\ebf7";
$panel-top: "\ebf8";
$panel-top-close: "\ebf9";
$panel-top-inactive: "\ebfa";
$panel-top-open: "\ebfb";
$paperclip: "\ebfc";
$parentheses: "\ebfd";
$parking-circle: "\ebfe";
$parking-circle-off: "\ebff";
$parking-square: "\ec00";
$parking-square-off: "\ec01";
$party-popper: "\ec02";
$pause: "\ec03";
$pause-circle: "\ec04";
$pause-octagon: "\ec05";
$pc-case: "\ec06";
$pencil: "\ec07";
$pen-tool: "\ec08";
$percent: "\ec09";
$person-standing: "\ec0a";
$phone: "\ec0b";
$phone-call: "\ec0c";
$phone-forwarded: "\ec0d";
$phone-incoming: "\ec0e";
$phone-missed: "\ec0f";
$phone-off: "\ec10";
$phone-outgoing: "\ec11";
$pi: "\ec12";
$picture-in-picture: "\ec13";
$picture-in-picture-2: "\ec14";
$pie-chart: "\ec15";
$piggy-bank: "\ec16";
$pilcrow: "\ec17";
$pill: "\ec18";
$pin: "\ec19";
$pin-off: "\ec1a";
$pipette: "\ec1b";
$pizza: "\ec1c";
$plane: "\ec1d";
$plane-landing: "\ec1e";
$plane-takeoff: "\ec1f";
$play: "\ec20";
$play-circle: "\ec21";
$plug: "\ec22";
$plug-2: "\ec23";
$plug-zap: "\ec24";
$plug-zap-2: "\ec25";
$plus: "\ec26";
$plus-circle: "\ec27";
$plus-square: "\ec28";
$pocket: "\ec29";
$podcast: "\ec2a";
$pointer: "\ec2b";
$pound-sterling: "\ec2c";
$power: "\ec2d";
$power-off: "\ec2e";
$printer: "\ec2f";
$puzzle: "\ec30";
$qr-code: "\ec31";
$quote: "\ec32";
$radiation: "\ec33";
$radio: "\ec34";
$radio-receiver: "\ec35";
$radio-tower: "\ec36";
$rat: "\ec37";
$receipt: "\ec38";
$rectangle-horizontal: "\ec39";
$rectangle-vertical: "\ec3a";
$recycle: "\ec3b";
$redo: "\ec3c";
$redo-2: "\ec3d";
$redo-dot: "\ec3e";
$refresh-ccw: "\ec3f";
$refresh-cw: "\ec40";
$refrigerator: "\ec41";
$regex: "\ec42";
$remove-formatting: "\ec43";
$repeat: "\ec44";
$repeat-1: "\ec45";
$repeat-2: "\ec46";
$replace: "\ec47";
$replace-all: "\ec48";
$reply: "\ec49";
$reply-all: "\ec4a";
$rewind: "\ec4b";
$rocket: "\ec4c";
$rocking-chair: "\ec4d";
$rotate-3d: "\ec4e";
$rotate-ccw: "\ec4f";
$rotate-cw: "\ec50";
$router: "\ec51";
$rows: "\ec52";
$rss: "\ec53";
$ruler: "\ec54";
$russian-ruble: "\ec55";
$sailboat: "\ec56";
$salad: "\ec57";
$sandwich: "\ec58";
$satellite: "\ec59";
$satellite-dish: "\ec5a";
$save: "\ec5b";
$save-all: "\ec5c";
$scale: "\ec5d";
$scale-3d: "\ec5e";
$scaling: "\ec5f";
$scan: "\ec60";
$scan-face: "\ec61";
$scan-line: "\ec62";
$school: "\ec63";
$school-2: "\ec64";
$scissors: "\ec65";
$screen-share: "\ec66";
$screen-share-off: "\ec67";
$scroll: "\ec68";
$scroll-text: "\ec69";
$search: "\ec6a";
$send: "\ec6b";
$separator-horizontal: "\ec6c";
$separator-vertical: "\ec6d";
$server: "\ec6e";
$server-cog: "\ec6f";
$server-crash: "\ec70";
$server-off: "\ec71";
$settings: "\ec72";
$settings-2: "\ec73";
$share: "\ec74";
$share-2: "\ec75";
$sheet: "\ec76";
$shield: "\ec77";
$shield-alert: "\ec78";
$shield-check: "\ec79";
$shield-close: "\ec7a";
$shield-off: "\ec7b";
$shield-question: "\ec7c";
$ship: "\ec7d";
$shirt: "\ec7e";
$shopping-bag: "\ec7f";
$shopping-cart: "\ec80";
$shovel: "\ec81";
$shower-head: "\ec82";
$shrink: "\ec83";
$shrub: "\ec84";
$shuffle: "\ec85";
$sidebar: "\ec86";
$sidebar-close: "\ec87";
$sidebar-open: "\ec88";
$sigma: "\ec89";
$signal: "\ec8a";
$signal-high: "\ec8b";
$signal-low: "\ec8c";
$signal-medium: "\ec8d";
$signal-zero: "\ec8e";
$siren: "\ec8f";
$skip-back: "\ec90";
$skip-forward: "\ec91";
$skull: "\ec92";
$slack: "\ec93";
$slash: "\ec94";
$slice: "\ec95";
$sliders: "\ec96";
$sliders-horizontal: "\ec97";
$smartphone: "\ec98";
$smartphone-charging: "\ec99";
$smartphone-nfc: "\ec9a";
$smile: "\ec9b";
$smile-plus: "\ec9c";
$snowflake: "\ec9d";
$sofa: "\ec9e";
$sort-asc: "\ec9f";
$sort-desc: "\eca0";
$soup: "\eca1";
$space: "\eca2";
$sparkles: "\eca3";
$speaker: "\eca4";
$spline: "\eca5";
$split: "\eca6";
$split-square-horizontal: "\eca7";
$split-square-vertical: "\eca8";
$sprout: "\eca9";
$square: "\ecaa";
$square-asterisk: "\ecab";
$square-dot: "\ecac";
$square-equal: "\ecad";
$square-slash: "\ecae";
$stamp: "\ecaf";
$star: "\ecb0";
$star-half: "\ecb1";
$star-off: "\ecb2";
$step-back: "\ecb3";
$step-forward: "\ecb4";
$stethoscope: "\ecb5";
$sticker: "\ecb6";
$sticky-note: "\ecb7";
$stop-circle: "\ecb8";
$store: "\ecb9";
$stretch-horizontal: "\ecba";
$stretch-vertical: "\ecbb";
$strikethrough: "\ecbc";
$subscript: "\ecbd";
$subtitles: "\ecbe";
$sun: "\ecbf";
$sun-dim: "\ecc0";
$sun-medium: "\ecc1";
$sun-moon: "\ecc2";
$sunrise: "\ecc3";
$sunset: "\ecc4";
$sun-snow: "\ecc5";
$superscript: "\ecc6";
$swiss-franc: "\ecc7";
$switch-camera: "\ecc8";
$sword: "\ecc9";
$swords: "\ecca";
$syringe: "\eccb";
$table: "\eccc";
$table-2: "\eccd";
$tablet: "\ecce";
$tablets: "\eccf";
$tag: "\ecd0";
$tags: "\ecd1";
$target: "\ecd2";
$tent: "\ecd3";
$terminal: "\ecd4";
$terminal-square: "\ecd5";
$test-tube: "\ecd6";
$test-tube-2: "\ecd7";
$test-tubes: "\ecd8";
$text: "\ecd9";
$text-cursor: "\ecda";
$text-cursor-input: "\ecdb";
$text-select: "\ecdc";
$thermometer: "\ecdd";
$thermometer-snowflake: "\ecde";
$thermometer-sun: "\ecdf";
$thumbs-down: "\ece0";
$thumbs-up: "\ece1";
$ticket: "\ece2";
$timer: "\ece3";
$timer-off: "\ece4";
$timer-reset: "\ece5";
$toggle-left: "\ece6";
$toggle-right: "\ece7";
$tornado: "\ece8";
$touchpad: "\ece9";
$touchpad-off: "\ecea";
$tower-control: "\eceb";
$toy-brick: "\ecec";
$train: "\eced";
$trash: "\ecee";
$trash-2: "\ecef";
$tree-deciduous: "\ecf0";
$tree-pine: "\ecf1";
$trees: "\ecf2";
$trello: "\ecf3";
$trending-down: "\ecf4";
$trending-up: "\ecf5";
$triangle: "\ecf6";
$trophy: "\ecf7";
$truck: "\ecf8";
$tv: "\ecf9";
$tv-2: "\ecfa";
$twitch: "\ecfb";
$twitter: "\ecfc";
$type: "\ecfd";
$umbrella: "\ecfe";
$underline: "\ecff";
$undo: "\ed00";
$undo-2: "\ed01";
$undo-dot: "\ed02";
$unfold-horizontal: "\ed03";
$unfold-vertical: "\ed04";
$ungroup: "\ed05";
$unlink: "\ed06";
$unlink-2: "\ed07";
$unlock: "\ed08";
$unplug: "\ed09";
$upload: "\ed0a";
$upload-cloud: "\ed0b";
$usb: "\ed0c";
$user: "\ed0d";
$user-2: "\ed0e";
$user-check: "\ed0f";
$user-check-2: "\ed10";
$user-circle: "\ed11";
$user-circle-2: "\ed12";
$user-cog: "\ed13";
$user-cog-2: "\ed14";
$user-minus: "\ed15";
$user-minus-2: "\ed16";
$user-plus: "\ed17";
$user-plus-2: "\ed18";
$users: "\ed19";
$users-2: "\ed1a";
$user-square: "\ed1b";
$user-square-2: "\ed1c";
$user-x: "\ed1d";
$user-x-2: "\ed1e";
$utensils: "\ed1f";
$utensils-crossed: "\ed20";
$utility-pole: "\ed21";
$variable: "\ed22";
$vegan: "\ed23";
$venetian-mask: "\ed24";
$verified: "\ed25";
$vibrate: "\ed26";
$vibrate-off: "\ed27";
$video: "\ed28";
$video-off: "\ed29";
$view: "\ed2a";
$voicemail: "\ed2b";
$volume: "\ed2c";
$volume-1: "\ed2d";
$volume-2: "\ed2e";
$volume-x: "\ed2f";
$vote: "\ed30";
$wallet: "\ed31";
$wallpaper: "\ed32";
$wand: "\ed33";
$wand-2: "\ed34";
$warehouse: "\ed35";
$watch: "\ed36";
$waves: "\ed37";
$webcam: "\ed38";
$webhook: "\ed39";
$wheat: "\ed3a";
$wheat-off: "\ed3b";
$whole-word: "\ed3c";
$wifi: "\ed3d";
$wifi-off: "\ed3e";
$wind: "\ed3f";
$wine: "\ed40";
$wine-off: "\ed41";
$workflow: "\ed42";
$wrap-text: "\ed43";
$wrench: "\ed44";
$x: "\ed45";
$x-circle: "\ed46";
$x-octagon: "\ed47";
$x-square: "\ed48";
$youtube: "\ed49";
$zap: "\ed4a";
$zap-off: "\ed4b";
$zoom-in: "\ed4c";
$zoom-out: "\ed4d";

